@font-face {
  font-family: fontPrimaryRegular;
  src: url('../font/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: fontPrimaryBold;
  src: url('../font/AmaticSC-Bold.ttf');
}

@font-face {
  font-family: fontSecondaryBold;
  src: url('../font/Playlist\ Caps.otf');
}

@font-face {
  font-family: fontPoppinsMedium;
  src: url('../font/Poppins-Medium.ttf');
}

@font-face {
  font-family: fontPoppinsLight;
  src: url('../font/Poppins-Light.ttf');
}

:root {
  --bg-primary: #f7f7f7;
  --color-secondary: #777b7e;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: fontPrimaryRegular; */
  font-family: fontPoppinsLight;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #f7f7f7;
}

.container {
  width: 100%;
  height: 100%;
}

section {
  /* display: flex; */
  width: 100%;
  height: 100%;
}

.header {
  background-image: url('../images/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  position:relative;
}

.header .author {
  position:fixed;
  top: 2.7%;
  left: 3%;
}


.header .text-bienvenue {
  position: absolute;
  top: 30%;
  left: 4.5%;
  font-size: clamp(15px, 4vw, 34px);
}

.text-bienvenue .btn-started {
  margin-top: 10%;
  font-size: clamp(8px, 4vw, 20px);
}

.text-bienvenue .btn-started a {
  text-decoration: none;
  color:#ff9f23;
}

.header .bar-menu {
  position:fixed;
  top: 2.7%;
  right: 3%;
  transform: rotateY(178deg);

}

.header .bar-menu .l1 {
  display: block;
  width: 55px;
  height: 2px;
  background-color: #f7f7f7;
  margin-bottom: 18px;
}

.header .bar-menu .l2 {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f7f7f7;
}
.apropos {
  background-color: rgb(28, 28, 28);
}


.contact {
  background-color: rgb(38, 38, 38);
}

