@font-face {
  font-family: fontPrimaryRegular;
  src: url('../font/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: fontPrimaryBold;
  src: url('../font/AmaticSC-Bold.ttf');
}

@font-face {
  font-family: fontSecondaryBold;
  src: url('../font/Playlist\ Caps.otf');
}

@font-face {
  font-family: fontPoppinsMedium;
  src: url('../font/Poppins-Medium.ttf');
}

@font-face {
  font-family: fontPoppinsLight;
  src: url('../font/Poppins-Light.ttf');
}

:root {
  --bg-primary: #f7f7f7;
  --color-secondary: #777b7e;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: fontPrimaryRegular; */
  font-family: fontPoppinsLight;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #f7f7f7;

}

.container {
  width: 100%;
  height: 100%;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;


}

section {
  /* display: flex; */
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

}

.header {
  background-image: url('../images/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  position:relative;
  

}

.header .author {
  position:fixed;
  top: 2.7%;
  left: 3%;
  mix-blend-mode: exclusion;

}


.header .text-bienvenue {
  position: absolute;
  top: 30%;
  left: 4.5%;
  font-size: clamp(15px, 4vw, 34px);
}

.text-bienvenue .btn-started {
  margin-top: 10%;
  font-size: clamp(4px, 4vw, 15px);
  /* mix-blend-mode: difference; */
}

.text-bienvenue .btn-started a {
  text-decoration: none;
  color:#ff9f23;
  padding: 14px 14px;
  margin: 4.5px;
  border: 1px solid #ff9f23;
}

.text-bienvenue .btn-started a:nth-child(1) {
  border: 1px solid #ff9f23;
}

.text-bienvenue .btn-started a:nth-child(2) {
  background-color: #ff9f23;
  color: #f7f7f7;
}

.header .bar-menu {
  position:fixed;
  top: 2.7%;
  right: 3%;
  transform: rotateY(178deg);
  

}

.header .bar-menu .l1 {
  display: block;
  width: 55px;
  height: 2px;
  background-color: #f7f7f7;
  margin-bottom: 18px;
}

.header .bar-menu .l2 {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f7f7f7;
}
.apropos {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
  padding: 55px 12px 0 25px;
}

.apropos .about {
  flex-basis: 37%;
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(2px, 4vw, 15px);
  padding: 10% 0;

}

.apropos .about .text {
  position: relative;
  width: 44%;
  margin: 15px 15px;
}

/* .apropos */

.apropos .about .text h2 {
  margin-bottom: 9%;
}

.apropos .text div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

}

.apropos .text #trait {
  position:absolute;
  display: block;
  left: 0%;
  width: 60px;
  height: 3px;
  background-color: #f7f7f7;
  font-size: clamp(15px, 4cw, 38px);
}

.apropos .text #fleche {
  position:absolute;
  left: 37px;
  font-size: 58px;
}



.apropos .img {
  flex-basis: 25%;
  width: 150px;
  height: 320px;
}


.apropos .skills {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
  width: 63%;
  /* background-color: #ff9f23; */

}

.apropos .skills div:nth-child(1) {
  width: 100%;
  height: 50%;
  /* background-color: rgb(128, 128, 128); */
}

.apropos .skills .box1 h3 {
  text-align:justify;
  position: relative;
  padding-bottom: 3%;

}

.apropos .skills .box1 h3::after {
  content: "";
  position:absolute;
  display: block;
  top: 25%;
  left: 17.4%;
  width: 82%;
  height: 2px;
  background-color: #ff9f23;
  font-size: clamp(15px, 4cw, 38px);
}

.apropos .skills .box1 .skill {
  font-size: clamp(15px, 4cw, 38px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.box1 .skill ul {
  list-style-type: none;
}

.apropos .skills div:nth-child(2) {
  width: 100%;
  height: 80%;

  /* background-color: rgb(138, 138, 138); */

}

.apropos .skills .box2 h3 {
  text-align:right;
  position: relative;
  padding-bottom: 3%;
  color: #ff9f23;
}

.apropos .skills .box2 h3::after {
  content: "";
  position:absolute;
  display: block;
  top: 65%;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9f23;
  font-size: clamp(15px, 4cw, 38px);
}

.apropos .skills .box2 .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.apropos .skills .box2 .project .card {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-image: url('../images/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment:scroll;
  mix-blend-mode:exclusion;
  color: black;
  position:relative;
}

.card:hover{
  color:chocolate;
  cursor: pointer;
  scale: 10px;
  
}


.apropos .skills .box2 .card .nom {
  color: #f7f7f7;
  font-size: clamp(5px, 4vw, 12px);
  /* font-weight: lighter; */
  text-align: center;
}

.apropos .skills .box2 .card .type {
  background: #ff9f23;
  border-radius:5%;
  padding: 2px 2px;
  color: black;
}


@media screen and (max-width:375px) {
  .apropos {
    height: calc(100% + 100vh);
  }

  .apropos .about {
    flex-basis: 100%;
  }

  .apropos .skills {
    width: 100%;
    height: 62%;
  }

  .apropos .skills .box1 h3::after {
    top:38%;
    left: 34%;
    width: 70%;
  }

  .apropos .skills .box2 h3::after {
    top: 72%;
  }
  
  .apropos .about .text {
    width: 100%;
  }
  
  .apropos .text {

  }

  .apropos .img {
    width: 100%;
    height: 150px;
  }

  .apropos .skills .box2 .project .card {
    width: 100%;
    height: 50%;
  }
  
}

@media screen and (max-width:414px) {
  .apropos {
    height: calc(100% + 100vh);
  }

  .apropos .about {
    flex-basis: 100%;
  }

  .apropos .skills {
    width: 100%;
    height: 62%;
  }

  .apropos .skills .box1 h3::after {
    top:38%;
    left: 34%;
    width: 66%;
  }

  .apropos .skills .box2 h3::after {
    top: 72%;
  }
  
  .apropos .about .text {
    width: 100%;
  }

  .apropos .img {
    width: 100%;
    height: 150px;
  }

  .box1 .skill ul {
    padding-right: 12px;
  }

  .apropos .skills .box2 .project .card {
    width: 100%;
    height: 50%;
  }

}

@media screen and (max-width:320px) {
  .apropos .skills .box1 h3::after {
    left:38%;
    width: 62%;
  }

  .apropos .skills .box2 .project .card {
    width: 100%;
    height: 50%;
  }
}


/* .apropos .skills div:nth-child(3) {
  width: 50%;
  height: 50%;

  background-color: rgb(148, 148, 148);

}
.apropos .skills div:nth-child(4) {
  width: 50%;
  height: 50%;
  background-color: rgb(128, 128, 128);

} */


.contact {
  background-color: rgb(38, 38, 38);
}

